@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

img {
  border-radius: 10px;
} 

#homepage-container {
    position: relative;
    top: -25px;         /* reduce the white space above the logo text */
    width: 75%;
    margin: 0 auto;
}

#fenggroup-logo {
    text-align: center;
    font-size: 48px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#fenggroup-logo p {
  margin-bottom: 0px;
}

#homepage-tagline {
    font-size: 24px; 
    font-weight: bold; 
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#carousel-slides {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50%;
    margin: 20px auto;
}

#carousel-slides-iframe {
    border-radius: 20px; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#homepage-long-description {
    font-size: 18px;
    margin-bottom: 40px;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 10px auto;
}

.responsive-iframe {
    border-radius: 10px; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
